<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excellent choice!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you want to open GoogleMaps to go there ?
        <p><%= link_to "Go back to the selection", meals_path %></p>
      </div>
      <div class="modal-footer" data-current_position="<%=current_position.to_json %>">
       <!-- <p><%= link_to "Yes, please", "https://www.google.com/maps/dir/'#{params[:lat]},#{params[:lon]}'/'#{choice.meal.restaurant.locations[0].latitude},#{choice.meal.restaurant.locations[0].longitude}'", :target => "_blank", class: "btn btn-primary"%></p> -->
        <p><%= link_to "Yes, please","https://www.google.com/maps/dir/?api=1&origin=#{params[:lat]},#{params[:lon]}&destination=#{choice.meal.restaurant.locations[0].latitude},#{choice.meal.restaurant.locations[0].longitude}", :target => "_blank", class: "btn btn-primary"%></p>
        <p><%= link_to "No, thanks", dashboard_path, class: "btn btn-secondary"%></p>
      </div>
    </div>
  </div>
</div>
<div id="exampleModal" class="modal-backdrop fade"></div>
