<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="selection-modal">
        <%= cl_image_tag choice.meal.photo.key, height: 96, width: 96, padding: 0, crop: :pad %>
        <h4 class="modal-title" id="exampleModalLabel">Excellent choice!</h4>
        <h4 class="selection-modal-meal"><%= choice.meal.name %></h4>
        <h6 class="modal-content-restaurant"> <%= "#{choice.meal.restaurant.name}" %> </h6>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <h6 id="modal-redirect">Take me to:</h6>
      <div class="modal-body-google" data-current_position="<%=current_position.to_json %>">
        <div class="modal-button-left">
          <div class="btn-google">
            <p><%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{choice.meal.restaurant.locations[0].latitude},#{choice.meal.restaurant.locations[0].longitude}#{"&origin=#{params[:lat]},#{params[:lon]}" unless params[:lat].blank?||params[:lon].blank?}", :target => "_blank" do %></p>
              <i class="fas fa-map-marked-alt btn btn-primary"></i>
            <% end %>
          </div>
          <h6>Google Maps</h6>
        </div>
        <div class="modal-button-right">
          <div class="btn-dashboard">
            <p><%= link_to dashboard_path do %></p>
              <i class="fas fa-chart-line btn btn-secondary"></i>
            <% end %>
          </div>
          <h6>Dashboard</h6>
        </div>
      </div>
    </div>
  </div>
</div>