<h1>Meal Show Page- Nutrition Info</h1>
<div class="card-detail card-detail-show">
  <img src="https://via.placeholder.com/80x60" alt="">
  <h2><%= @meal.name%></h2>
  <p><%= @meal.restaurant.name %></p>
</div>
<div>
  <h3>Nutrition Info</h3>
  <p>Calories: <%= @meal.calories%>kcal</p>
  <p>Proteins: <%= @meal.proteins%>g</p>
  <p>Carbohydrates: <%= @meal.carbohydrates%>g</p>
  <p>Fat: <%= @meal.fat%>g</p>
  <p>Sodium: <%= @meal.sodium%>g</p>
</div>
<div>
  <h3>The Benefits:</h3>
  <% if current_user.goal == "healty" %>
    <p><%= Meal.max_calories_meal.calories - @meal.calories %> calories saved!</p>
    <p><%= Meal.max_sodium_meal.sodium - @meal.sodium %> grams of Sodium saved!</p>
    <p><%= Meal.max_fat_meal.fat - @meal.fat %> grams of Fat saved!</p>
  <% end %>
  <% if current_user.goal == "lose_weight" %>
    <p><%= Meal.max_calories_meal.calories - @meal.calories %> calories saved!</p>
    <p><%= (Meal.max_fat_meal.fat - @meal.fat).round(2) %> grams of Fat saved!</p>
  <% end %>
  <% if current_user.goal == "gain_muscle" %>
    <p><%= @meal.proteins - Meal.min_protein_meal.proteins %> grams of extra Protein!</p>
  <% end %>
</div>
