<div class="container-body">
  <%# <h1>Nutrition Info</h1> %>
  <div class="card-detail card-detail-show">
    <%= cl_image_tag @meal.photo.key, crop: :fill %>
    <!-- <img src="https://via.placeholder.com/80x60" alt=""> -->
    <h2><%= @meal.name%></h2>
    <p><%= @meal.restaurant.name %></p>
  </div>
  <hr>
</div>
<div class="container-nutritional-info">
  <h3 class="center-text">Nutrition Info</h3>
  <p>Calories: <%= @meal.calories%>kcal</p>
  <p>Proteins: <%= @meal.proteins%>g</p>
  <p>Carbohydrates: <%= @meal.carbohydrates%>g</p>
  <p>Fat: <%= @meal.fat%>g</p>
  <p>Sodium: <%= @meal.sodium%>g</p>
  <div>
    <h3>The Benefits:</h3>
    <% if current_user.goal == "healty" %>
      <%= render 'goals/healthy' %>
    <% end %>
    <% if current_user.goal == "lose_weight" %>
      <%= render 'goals/lose_weight' %>
    <% end %>
    <% if current_user.goal == "gain_muscle" %>
      <%= render 'goals/gain_muscle' %>
    <% end %>
  </div>
</div>
