<div class="container-body">
  <%# <h1>Nutrition Info</h1> %>
  <div class="card-detail card-detail-show">
    <img src="https://via.placeholder.com/80x60" alt="">
    <h2><%= @meal.name%></h2>
    <p><%= @meal.restaurant.name %></p>
  </div>
  <hr>
</div>
<div class="container-nutritional-info">
  <h3 class="center-text">Nutrition Info</h3>
  <p>Calories: <%= @meal.calories%>kcal</p>
  <p>Proteins: <%= @meal.proteins%>g</p>
  <p>Carbohydrates: <%= @meal.carbohydrates%>g</p>
  <p>Fat: <%= @meal.fat%>g</p>
  <p>Sodium: <%= @meal.sodium%>g</p>
</div>

