<% if @choice %>
  <%= "it's inside"%>
  <%# <button type="button" class="btn btn-secondary card-choice-button" data-toggle="modal" data-target="#exampleModal">GO!</button> %>
  <%= render 'shared/modal_google' %>
<%end%>
<div class="container-body">
  <h3 class="text-center">Your latest meal:</h3>
  <div class="dashboard-top">
    <div id="chart_div" style="width: 120px; height: 120px;" data-calories="<%= @choices.last.meal.calories.to_json %>"></div>
    <div id="chart_div2" style="width: 120px; height: 120px;" data-carb="<%= @choices.last.meal.carbohydrates.to_json %>"></div>
    <div id="chart_div3" style="width: 120px; height: 120px;" data-protein="<%= @choices.last.meal.proteins.to_json %>"></div>
  </div>
  <div class="dashboard-grid-container">
    <div class="dashboard-section-container">
      <h4 class="center-text">Favorites</h4>
      <div class="card-detail card-detail-favorites">
        <img src="https://via.placeholder.com/80x60" alt="">
        <p>name
          <p>
            <p>restaurant</p>
          </div>
          <div class="card-detail card-detail-favorites">
            <img src="https://via.placeholder.com/80x60" alt="">
            <p>name
              <p>
                <p>restaurant</p>
              </div>
            </div>
            <div class="dashboard-section-container">
              <h4 class="center-text">Results</h4>
            </div>
          </div>
        </div>