<% if @choice %>
  <% "it's inside"%>
  <%# <button type="button" class="btn btn-secondary card-choice-button" data-toggle="modal" data-target="#exampleModal">GO!</button> %>
  <%= render 'shared/modal_google', :choice => @choice, :current_position => @current_position %>
<%end%>
<h2 style="margin-bottom: 16px; text-align: center;">Dashboard</h2>
<div class="dashboard-score">
  <p>average score:</p>
  <p><%= @bike %></p>
  <p class="average-score">83</p>
</div>
<div class="dashboard-top">
  <div class="score-last-month">
    <i class="fas fa-long-arrow-alt-down"></i>
    <h4><strong>-7 points</strong></h4>
    <p>last month</p>
  </div>
  <div class="score-current-month">
    <i class="fas fa-long-arrow-alt-up"></i>
    <h4><strong>+22 points</strong></h4>
    <p>current month</p>
  </div>
</div>
<hr>
<div class="results container">
  <div class="row">
    <div class="result-cards col-6">
      <div class="result-icon">
        <img src="https://static.thenounproject.com/png/1180285-200.png" alt="calorie icon">
      </div>
      <p>Calories saved</p>
      <h4><strong><%= @calories %> kcal</strong></h4>
      <%= @bike.round %> minutes of bicycling
    </div>
    <div class="result-cards col-6">
      <div class="result-icon">
        <img src="https://image.flaticon.com/icons/png/512/2599/2599597.png" alt="fat-icon">
      </div>
      <p>Fat saved</p>
      <h4><strong><%= @fat.round(1) %> grams</strong></h4>
      <%= @pizza.round %> whole pizzas
    </div>
  </div>
  <div class="row">
    <div class="result-cards col-6">
      <div class="result-icon">
        <img src="https://img.icons8.com/ios/452/salt-bae.png" alt="salt-bae">
      </div>
      <p>Sodium saved</p>
      <h4><strong><%= @sodium.round(1) %> grams</strong></h4>
      <%= @salt.round %> table spoons of salt
    </div>
    <div class="result-cards col-6">
      <div class="result-icon">
        <img src="https://icon-library.com/images/muscles_gym_training_protein-512.png" alt="protein-icon">
      </div>
      <p>Protein gained</p>
      <h4><strong><%= @proteins.round(1) %> grams</strong></h4>
      <%= @egg.round %> eggs
    </div>
  </div>
</div>
</div>
